## **PROYECTO FINAL**
### REGRESIÓN

y = β0 + β1 ∗ x

donde

- y es la variable dependiente,
- x es la variable independiente,
- β0 es el intercepto de la recta,
- β1 es la pendiente de la recta.

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [9]:
path_root = os.getcwd()
file_name = 'proyecto_training_data.npy'
full_path = f"{path_root}\\{file_name}"

training_data = np.load(full_path)

In [47]:
training_data.shape

(1460, 6)

In [55]:
# 1420
# 80% = 1420
# 20% = 292

x,y = training_data.shape
#print(x,y)

x = int(x*0.8)
y = int(y*0.2)

train = training_data[0:x,:y]
test = training_data[x:,:y]

print(train.shape)
print(test.shape)

(1168, 1)
(292, 1)

In [61]:
df = pd.DataFrame(training_data)

df.describe()

,0,1,2,3,4,5
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1201.000000
mean,180921.195890,6.099315,1162.626712,6.517808,1971.267808,70.049958
std,79442.502883,1.382997,386.587738,1.625393,30.202904,24.284752
min,34900.000000,1.000000,334.000000,2.000000,1872.000000,21.000000
25%,129975.000000,5.000000,882.000000,5.000000,1954.000000,59.000000
50%,163000.000000,6.000000,1087.000000,6.000000,1973.000000,69.000000
75%,214000.000000,7.000000,1391.250000,7.000000,2000.000000,80.000000
max,755000.000000,10.000000,4692.000000,14.000000,2010.000000,313.000000

In [ ]:
sns.set(rc={"figure.figsize": (8, 4)}); np.random.seed(0)
x = np.random.randn(100)
ax = sns.distplot(x)
plt.show()